@media screen and (max-width: 600px) {
    /* Estilos para telas menores que 600px */
 }

 @media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos para telas entre 601px e 1024px */
 }

 @media screen and (min-width: 1025px) {
    /* Estilos para telas maiores que 1024px */
 }

 img {
    max-width: 100%;
    height: auto;
 }

 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .item {
    flex: 0 1 48%;
    /* ou use grid */
 }


 
